argcomplete==3.5.3
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
commitizen==4.4.1
decli==0.6.2
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
prompt_toolkit==3.0.50
PyYAML==6.0.2
questionary==2.1.0
requests==2.32.3
termcolor==2.5.0
tomlkit==0.13.2
urllib3==2.3.0
wcwidth==0.2.13
