bump2version==1.0.1  # Version-bumping tool for software releases
certifi==2023.6.15  # Python package for providing Mozilla's CA Bundle
charset-normalizer==3.2.0  # Library for detecting and normalizing character encodings
docopt==0.6.2  # Command-line interface description language
idna==3.4  # Support for Internationalized Domain Names in Applications (IDNA)
iniconfig==2.0.0  # Library for parsing .ini configuration files
pillow==10.0.0  # Python Imaging Library (PIL) fork for image processing
pip-tools==7.4.0  # Tools to keep your pinned Python dependencies fresh
pipreqs==0.4.11  # Generate pip requirements.txt file based on imports in project
pluggy==1.2.0  # Plugin and hook calling mechanisms for Python
pytest==7.4.0  # Framework for testing Python code
requests==2.31.0  # Simple HTTP library for Python
urllib3==2.0.4  # HTTP library with thread-safe connection pooling, file post, and more
wheel==0.41.1  # Built-package format for Python
yarg==0.1.9  # Library for parsing and using data from PyPI
